<h1>Stupid Coaching</h1>

<div class="you">
  <p> <%= params[:question] %> </p>
  <p class="italic">-You</p>
</div>

<div class="coach">
  <p class="bold"> <%= @return %> </p>
  <p class="italic">-Your coach</p>
</div>

<%= link_to 'Ask a new question', '/ask' %>
